<div class="container">
  <div class="rows">
    <div class="sidebar">
      <div class="card" >
        <div class="card-header bg-info">
          <div><img src="assets/images/user-avatar.svg" alt="" /></div>
          <div class="detail">
            <p>User Name</p>
          </div>
        </div>
        <div class="card-body" *ngFor="let chat of chats">
          <div class="contact" (click)="getChatMessages(chat.id)">
            <a href="" class="contact-btn">
              <div><img src="assets/images/user-avatar.svg" alt="" /></div>
              <div>{{chat.chatName}}</div>
              <!-- <div>Today</div> -->
            </a>
          </div>
          
        </div>
        <!-- <div class="card-body">
          <div class="contact">
            <a href="" class="contact-btn">
              <div><img src="assets/images/user-avatar.svg" alt="" /></div>
              <div>User Name</div>
              <div>Today</div>
            </a>
          </div>
          
        </div> -->
      </div>
    </div>
    <div class="main">
      <div class="card">
        <div class="card-header bg-info">
          <img src="assets/images/user-avatar2.svg" alt="" />
          <p>User Name</p>
        </div>
        <div class="card-body msg-body">
          <div class="media received">
            <img src="assets/images/user-avatar2.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media received">
            <img src="assets/images/user-avatar2.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deserunt voluptates molestias ut ad ex. Voluptatibus optio at
                hic saepe in, dolor voluptatem quos culpa voluptate placeat.
                Nesciunt saepe perferendis eius.
              </p>
            </div>
          </div>
          <div class="media sent">
            <img src="assets/images/user-avatar.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media received">
            <img src="assets/images/user-avatar2.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media sent">
            <img src="assets/images/user-avatar.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media received">
            <img src="assets/images/user-avatar2.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media sent">
            <img src="assets/images/user-avatar.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media received">
            <img src="assets/images/user-avatar2.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media sent">
            <img src="assets/images/user-avatar.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
          <div class="media received">
            <img src="assets/images/user-avatar2.svg" alt="" />
            <div class="message">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, sint?
              </p>
            </div>
          </div>
        </div>
        <div class="compose">
          <form action="">
            <textarea
              name=""
              id=""
              rows="1"
              placeholder="Enter your message..."
            ></textarea>
            <button>
              <i class="fas fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
