<div class="container">
  <div class="rows">
    <div class="sidebar">
      <div class="card" >
        <div class="card-header bg-info">
          <div><img src="assets/images/user-avatar.svg" alt="" /></div>
          <div class="detail">
            <p>User Name</p>
          </div>
        </div>
        <div class="card-body" *ngFor="let chat of chats">
          <div class="contact" (click)="getChatMessages(chat.chatId)">
            <a  class="contact-btn">
              <div><img src="assets/images/user-avatar.svg" alt="" /></div>
              <div>{{chat.chatName}}</div>
              <!-- <div>Today</div> -->
            </a>
          </div>
          
        </div>
        <!-- <div class="card-body">
          <div class="contact">
            <a href="" class="contact-btn">
              <div><img src="assets/images/user-avatar.svg" alt="" /></div>
              <div>User Name</div>
              <div>Today</div>
            </a>
          </div>
          
        </div> -->
      </div>
    </div>
    <div class="main">
      <div class="card">
      
        <div class="card-header bg-info">
          <img src="assets/images/user-avatar2.svg" alt="" />
          <p>User Name</p>
        </div>
        <div class="card-body msg-body" *ngFor="let message of chatMssages">
          <div *ngIf="message.displayType == 0; then mediaSent; else mediaReceived"></div>
          <ng-template #mediaSent>
            <div class="media sent">
              <img src="assets/images/user-avatar.svg" alt="" />
              <div class="message">
                <p>
                  {{message.text}}
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template #mediaReceived>
            <div class="media received">
              <img src="assets/images/user-avatar2.svg" alt="" />
              <div class="message">
                <p>
                  {{message.text}}
                </p>
              </div>
            </div> 
          </ng-template>
          
          
          
        </div>
        <div class="compose">
         <form>
            <textarea
              name=""
              id=""
              rows="1"
              [formControl]="msgText"
              placeholder="Enter your message..."
            ></textarea>
            <button (click)="createNewMessage() ">
              <i class="fas fa-paper-plane"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
