.container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  height: 7vh;
}

.bg-info {
  background-color: #4b4b4b !important;
  // border-right: 1px solid #eee;

  color: #fff;
}

.rows {
  display: flex;
}
.card-header img {
  width: 48px;
  height: 48px;
}
.sidebar {
  flex: 1 1 240px;
}

.sidebar .card-body {
  height: 90vh;
  overflow-y: scroll;
}

.sidebar .card {
  border-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sidebar .card-header {
  border-right: 1px solid #eee;
}

.sidebar .card-header p,
.main .card-header p {
  margin-top: 15px;
  margin-left: 10px;
}

.sidebar .card .card-body {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar .card-body .contact a {
  height: 50px;
  /*border: 1px solid #17a2b8*/
}

.sidebar .card-body .contact a img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.sidebar .card-body .contact .contact-btn {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #333;

  .contact-name {
    margin-top: 1rem;
  }
  .contact-date {
    margin-top: 2.5rem;
    font-size: 12px;
  }
}

.sidebar .card-body .contact .contact-btn div {
  flex: 1;
}

.sidebar .card-body .contact .contact-btn div:nth-child(2) {
  flex: 4;
  flex-shrink: 6;
}

.sidebar .card-body .contact .contact-btn:hover,
.active {
  background: #eee;
}

/*Sidebar end*/

/*msg body start*/
.main {
  flex: 3 3 500px;
  clear: both;
  min-width: 400px;
}

.main .card {
  border-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0px;
}

.main .card-body {
  height: 84vh;
  overflow-y: scroll;
}

.chat-title {
  margin-top: -1vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  .chat-name {
    font-size: large;
  }
  .chat-info {
    margin-top: -2vh !important;
    font-size: small;
  }
}

.media {
  display: flex;
  margin: 10px;
}

.main .media img {
  width: 48px !important;
  height: 48px;
}

.media .message {
  padding: 5px 10px;
  background: #eee;
}

.received .message {
  border-radius: 0 10px 10px 10px;
  margin-left: 10px;

  .sender-name {
    font-size: 12px;
    margin: 0;
    color: #404040;
  }
}

.sent {
  flex-flow: row-reverse;
}

.sent .message {
  margin-right: 10px;
  border-radius: 10px 0px 10px 10px;
  background-color: aquamarine;
}

.compose {
  margin-bottom: -1px;
  padding: 15px;
  background-color: #333;
  border-radius: 0.5rem 0.5rem 0 0;
  textarea:focus {
    outline: none !important;
  }
}

.compose form {
  display: flex;
}

.compose form textarea {
  flex: 3 3 400px;
  border: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  resize: none;
  color: #333;
  padding: 6px;
  border-radius: 0.75rem;
}
.compose button {
  flex-basis: 50px;
  font-weight: bold;
  border: 0px;
  background: transparent;
  color: whitesmoke;
  cursor: pointer;
  font-size: larger;
  outline: none;

  :hover {
    color: aquamarine;
  }
}

/*msg body end*/
@media all and (max-width: 700px) {
  .sidebar {
    flex: 1 1 30px;
  }

  .sidebar .card-body .contact .contact-btn div:nth-child(2) {
    display: none;
  }

  .sidebar .card-body .contact .contact-btn div:nth-child(3) {
    display: none;
  }

  .sidebar .card-body .contact .contact-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
  }

  .sidebar .card-header p {
    display: none;
  }
}

/******SIDE MENU BAR******/
.wrapper {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 300;
}
.wrapper .menu-btn {
  position: absolute;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  // border: 2px solid #383838;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
#btn:checked ~ .menu-btn {
  left: 247px;
}
.wrapper .menu-btn i {
  position: absolute;
  transform: rotate(180deg);
  font-size: 23px;
  transition: all 0.5s ease;
}
.wrapper .menu-btn i.fa-times {
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}
.sidemenu-username {
  margin-left: 12px;
  p {
    color: #eee;
  }
}
.sidemenu-searchform {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 6px;
  input {
    flex-grow: 2;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 11px;
  }

  input:focus {
    outline: none;
    padding: 12px;
  }

  button {
    border: none;
    background: aquamarine;
    color: white;
    padding: 0 2vw 0 2vw;
    border-radius: 0 0.5rem 0.5rem 0;
    outline: none;
    i {
      font-size: larger;
    }
  }
  button:hover {
    i {
      color: #404040;
    }
  }
}
#sidemenubar {
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidemenubar {
  left: 0;
}
#sidemenubar .title {
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}
#sidemenubar .list-items {
  position: relative;
  background: #404040;
  height: 100%;
  list-style: none;
  padding: 0 0 0 15px !important;
}
#sidemenubar .list-items li {
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}
#sidemenubar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
  cursor: pointer;
}
#sidemenubar .list-items li:first-child {
  border-top: none;
}
#sidemenubar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: block;
  padding-left: 12px;
}
#sidemenubar .list-items li a i {
  margin-right: 20px;
}
#sidemenubar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidemenubar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidemenubar .list-items .icons a:hover {
  background: #404040;
}
.list-items .icons a:first-child {
  margin-left: 0px;
}
