<div class="main-container">
  <div class="form-container">
    <div class="signin-div">
      <form  class="signin-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" [formControl]="name">
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" [formControl]="password" >
        </div>
        <input
          
          value="Login"
          class="button"
          type="button"
          (click)= "login()"
        />
        <p class="social-text">OR</p>
        <p class="social-text">Sign in using social media</p>
        <div class="social-media">
          <a href="#" class="social-button">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-button">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-button">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-button">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panel-container">
    <div class="panel">
      <div class="content">
        <h2>Chat Demonstration</h2>
        <p>
          Welcome to chat demonstration web application. This is a sample text.
        </p>
        <button class="button">Get Started</button>
      </div>
      <img src="assets/images/login_img2.svg" class="image" alt="" />
    </div>
  </div>
</div>
